@charset "utf-8";
/*------------------------------------------------------------
	デフォルトスタイル
------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	background: transparent;
	border: 0;
	outline: 0;

	font-size: 1em;
}

body {
	font-size: 62.5%;
}
/*
@font-face {
    font-family: "YuGothicM";
    src: url('/rc/fonts/YuGothM.eot');
    src: url('/rc/fonts/YuGothM.eot?#iefix') format('embedded-opentype'),
	url('/rc/fonts/YuGothM.woff') format('woff'),
	url('/rc/fonts/YuGothM.ttf') format('truetype');
}

@font-face {
    font-family: "YuGothicM";
	font-weight: bold;
    src: url('/rc/fonts/YuGothB.eot');
    src: url('/rc/fonts/YuGothB.eot?#iefix') format('embedded-opentype'),
	url('/rc/fonts/YuGothB.woff') format('woff'),
	url('/rc/fonts/YuGothB.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica Neue-CondensedBold';
    src: url('/rc/fonts/Helvetica Neue-CondensedBold.eot');
    src: url('/rc/fonts/Helvetica Neue-CondensedBold.eot?#iefix') format('embedded-opentype'),
	url('/rc/fonts/Helvetica Neue-CondensedBold.woff') format('woff'),
	url('/rc/fonts/Helvetica Neue-CondensedBold.ttf') format('truetype');
}
*/
/*body,
table,
input, textarea, select, option {
	font-family: "YuGothicM","游ゴシック Medium",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",sans-serif;
}

.en {
	font-family: "Helvetica Neue-CondensedBold",sans-serif;
	letter-spacing: 0.7px;
}


.jp {
	font-family: "YuGothicM","游ゴシック Medium",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",sans-serif;
}
*/

	body,
	table,
	input, textarea, select, option {
		font-family: "游ゴシック Medium","YuGothicM","YuGothic","ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",sans-serif;
	}
	
	.en {
		font-family: 'Roboto Condensed', sans-serif !important;
		letter-spacing: 0px;
		font-weight: 700;
	}
	.ios .en {
		font-family: "HelveticaNeue-CondensedBold",sans-serif !important;
		letter-spacing: 0;
		font-weight: 700;
	}
	
	.jp {
		font-family:"游ゴシック","YuGothic","Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro","ＭＳ ゴシック",sans-serif;
	}

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

img {
	vertical-align: top;
}

a,
a:link {
	color: #000;
	text-decoration: none;
}

a:visited {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: none;
}

a:active {
	color: #000;
	text-decoration: none;
}
/*------------------------------------------------------------
	レイアウト
------------------------------------------------------------*/
.jsBox {
	display: block;
	position: relative;
}

.jsBox img {
	width: 100%;
}

.target {
	transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
	-moz-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
	-webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
	transform: translate(0,20px);
	-moz-transform: translate(0,20px);
	-webkit-transform: translate(0,20px);
	opacity: 0;
}

.target.action {
	transform: translate(0,0);
	-moz-transform: translate(0,0);
	-webkit-transform: translate(0,0);
	transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
	-moz-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
	-webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
	opacity: 1;
}

.target.noAction {
	transform: none;
	-moz-transform: none;
	-webkit-transform: none;
	transition: opacity 0.8s ease;
	-webkit-transition: opacity 0.8s ease;
}

.noAction.action {
	transform: none;
	-moz-transform: none;
	-webkit-transform: none;
	transition: opacity 0.8s ease;
	-webkit-transition: opacity 0.8s ease;
}

.animate {
	transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
	-moz-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
	-webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
	transform: translate(0,-20px);
	-moz-transform: translate(0,-20px);
	-webkit-transform: translate(0,-20px);
	opacity: 0;
}

.comLeftBox {
	position: relative;
	z-index: -1;
}

.comLeftBox:before {
	width: 100%;
	height: 100%;
	background: #FFF;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
  
	content: "";
	transition: left 1s;
	-webkit-transition: left 1s;
}

.comLeftBox.on:before {
	left: 100%;
}

.fancybox-overlay {
	z-index: 10000;
}

.fancybox-opened {
    z-index: 18030;
}

.fancybox-close {
	right: 15px;
	top: 15px;
	width: 30px;
	height: 30px;
	background: url(/rc/img/common/close.png) no-repeat center center;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
}

.fancybox-close:hover,
.fancybox-close.hover {
	opacity: 0.4;
}

.fancybox-skin {
	background-color: #FFF;
}

.fancybox-nav {
	right: 14px;
	width: 58px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
}

.fancybox-nav:hover,
.fancybox-nav.hover {
	opacity: 0.4;
}

.fancybox-nav span {
	margin-top: -9px;
	width: 10px;
	height: 17px;
	visibility: visible;
}

.fancybox-prev span {
	left: 40px;
	background: url(/rc/img/common/prev.png) no-repeat left top;
}

.fancybox-next span {
	right: 26px;
	background: url(/rc/img/common/next.png) no-repeat left top;
}

@media all and (min-width: 0) and (max-width: 767px) {
	.fancybox-close {
		right: 10px;
		top: 10px;
		width: 16px;
		height: 16px;
		background: url(/rc/img/common/close.png) no-repeat center center;
		background-size: 8px 8px;
	}

	.fancybox-nav {
		right: 10px;
		width: 30px;
	}

	.fancybox-nav span {
		margin-top: -7px;
		width: 8px;
		height: 14px;
	}

	.fancybox-prev span {
		left: 17px;
		background: url(/rc/img/common/prev.png) no-repeat left top;
		background-size: 8px auto;
	}
	
	.fancybox-next span {
		right: 7px;
		background: url(/rc/img/common/next.png) no-repeat left top;
		background-size: 8px auto;
	}

}

/*------------------------------------------------------------
	レイアウト
------------------------------------------------------------*/
body {
	min-width: 1100px;
	color: #000;
	font-size: 14px;
	line-height: 2;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	background-color: #FFF;
}

#container {
	text-align: left;
}

#main {
	overflow: hidden;
}

a[href^="tel:"] {
	cursor: default;
	pointer-events: none;
}

.sp {
	display: none !important;
}

#cover {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
	background-color: #fff;
}

.coverNone {
	display: none !important;
}
@media all and (min-width: 0) and (max-width: 767px) {
	body {
		min-width: inherit;
	}
	
	#container {
		text-align: left;
	}

	a:hover,
	a:hover img {
		opacity: 1 !important;
	}
	
	a:hover,
	a.hover {
		opacity: 0.7 !important;
	}

	.sp {
		display: block !important;
	}
	
	.pc {
		display: none !important;
	}
	
	a[href^="tel:"] {
		cursor: pointer;
		pointer-events: auto;
	}
	
	#main {
		padding: 58px 0 0;
	}
	
}
/*------------------------------------------------------------
	ヘッダー
------------------------------------------------------------*/
#gHeader {
	padding: 33px 60px 20px 0;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	box-sizing: border-box;
	z-index: 10000;
}

#gHeader h1 {
	position: absolute;
	top: 44px;
	left: 40px;
	z-index: 500;
}

#gHeader h1 img {
	width: 92px;
}

#gHeader h1 a:hover {
	opacity: 0.7;
}

@media all and (min-width: 0) and (max-width: 767px) {
	#gHeader {
		padding: 12px 0;
		width: 100%;
	}
	
	#gHeader h1 {
		text-align: center;
		position: static;
	}
	
	#gHeader h1 a:hover {
		opacity: 1;
	}
	
	#gHeader h1 .sp {
		width: 63px;
		display: inline-block !important;
	}
	
	#gHeader .spLink {
		width: 54px;
		height: 54px;
		position: absolute;
		right: 0;
		top: 0;
		overflow: hidden;
		border: 2px solid #000;
		border-right: none;
		border-top: none;
		box-sizing: border-box;
		transition: 1s cubic-bezier(0.53, 0, 0.15, 1.3);
	}
	
	#gHeader .spLink.on {
		height: 198px;
		width: 105px;
		background-color: #000;
		transition: 1s cubic-bezier(0.53, 0, 0.15, 1.3);
	}
	
	#gHeader .spLink > a {
		padding: 15px 0;
		display: block;
		font-size: 11px;
		text-align: center;
		box-sizing: border-box;
		transition: 1s cubic-bezier(0.53, 0, 0.15, 1.3);
	}
	
	#gHeader .spLink > a.txt {
		padding: 8px 10px;
		font-size: 18px;
		color: #fff;
		transition: 1s cubic-bezier(0.53, 0, 0.15, 1.3);
	}

	#gHeader .spLink ul li a {
		padding: 4px 10px;
		visibility: visible;
		font-size: 12px;
		display: block;
		color: #fff;
		text-align: center;
		box-sizing: border-box;
		transform: rotateY(0deg);
	}
	
	#gHeader .spLink ul li a:nth-of-type(1) {
		transition-delay: .4s;
	}
	
	#gHeader .spLink ul li a:nth-of-type(2) {
		transition-delay: .5s;
	}
	
	#gHeader .spLink ul li a:nth-of-type(3) {
		transition-delay: .6s;
	}
	
	#gHeader .spLink ul li a:nth-of-type(4) {
		transition-delay: .7s;
	}
	
	#gHeader .spLink ul li a:nth-of-type(2) {
		transition-delay: .2s;
	}
	
	#gHeader .spLink ul li a:nth-of-type(3) {
		transition-delay: .1s;
	}
	
	#gHeader .spLink ul li a:nth-of-type(4) {
		transition-delay: 0s;
	}

}
/*------------------------------------------------------------
	gNavi
------------------------------------------------------------*/
#gNavi {
	max-width: 800px;
	float: right;
}

#gNavi .navi > li {
	margin-left: 39px;
	display: inline-block;
	position: relative;
	font-size: 16px;
}

#gNavi li a {
	display: block;
}

#gNavi .navi > li > a,
#gNavi .navi > li > span {
	position: relative;
	display: block;
	cursor: pointer;
}

#gNavi .navi > li a:hover:before {
	-webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
}

#gNavi .navi > li.current > a:after,
#gNavi .navi > li.current > span:after {
	position: absolute;
    bottom: 5px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #000;
}

#gNavi .navi > li:nth-child(4) ul li.current > a:after {
	position: absolute;
    bottom: 5px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #000;
}

#gNavi .navi > li a:before {
    position: absolute;
    bottom: 5px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #000;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
    -webkit-transform-origin: right top;
    transform-origin: right top;
    -webkit-transition: -webkit-transform .4s cubic-bezier(1,0,0,1);
    transition: -webkit-transform .4s cubic-bezier(1,0,0,1);
    transition: transform .4s cubic-bezier(1,0,0,1);
    transition: transform .4s cubic-bezier(1,0,0,1),-webkit-transform .4s cubic-bezier(1,0,0,1);
}

#gNavi .navi > li:last-child a,
#gNavi .navi > li:last-child > span {
	text-align: center;
}

#gNavi .navi > li:last-child > a,
#gNavi .navi > li:last-child > span {
	padding: 4px 5px 3px;
	min-width: 120px;
	border: 3px solid #000;
	box-sizing: border-box;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

#gNavi .navi > li:last-child > a:before,
#gNavi .navi > li:last-child > span:before {
	display: none;
}

#gNavi .navi > li:last-child:hover,
#gNavi .navi > li:last-child.current {
	color: #fff;
	background-color: #000;
}

#gNavi .navi ul {
	margin-left: -15px;
	padding-left: 15px;
	width: 105px;
	position: absolute;
	left: 0;
	top: 100%;
	font-size: 12px;
	text-align: left;
	box-sizing: border-box;
	background-color: rgba(255,255,255,0.8);
}

#gNavi .navi .liStyle ul {
	display: none;
}

#gNavi .navi li ul li {
	overflow: hidden;
	height: 0;
	transition: .4s;
	-webkit-transition: .4s;
}

#gNavi .navi .liStyle ul li {
	height: auto;
}

#gNavi .navi li:hover ul li {
	overflow: visible;
	height: 30px;
	position: relative;
}

#gNavi .navi li ul li a {
	opacity: 0;
	-webkit-transition: all 1.5s ease;
	transition: all 1.5s ease;
}

#gNavi .navi .liStyle ul li a {
	opacity: 1;
}

#gNavi .navi li:hover ul li a {
	opacity: 1;
}

#gNavi .navi > li.open ul li {
  overflow: visible;
  height: 26px;
}

#gNavi .navi .liStyle.open ul {
	display: block !important;
}

#gNavi .navi > li.open ul li a {
	opacity: 1;
}

#gNavi .navi li:last-child:hover ul li {
  overflow: visible;
  height: 30px;
}

#gNavi .navi li:last-child:hover ul li:last-child {
	height: 40px;
}

#gNavi .navi .career:hover ul li {
  overflow: visible;
  height: 26px;
}

#gNavi .navi .enList {
	top: 100%;
}

#gNavi .navi .enList a {
	padding: 1px;
}

#gNavi .navi ul a {
	display: inline-block;
	padding: 3px 0;
	position: relative;
}

#gNavi .navi > li:last-child ul {
	padding-left: 0;
	margin-left: 0;
	width: 100%;
	top: 100%;
	background-color: #000;
}

#gNavi .navi > li:last-child ul a {
	display: block;
	padding: 3px;
	color: #fff;
	font-weight: normal;
}

#gNavi .navi > li:last-child ul a:hover {
	color: #999999;
}

.ios #gNavi .navi.en {
	letter-spacing: 1px;
}

@media all and (-ms-high-contrast:none){
	#gNavi .navi > li:last-child > span {
		padding: 5px 5px 4px;
	}
}

@media all and (min-width: 768px) {
	#gNavi {
		display: block !important;
	}
	
	#gNavi .navi > li {
		opacity: 1 !important;
	}
}

@media all and (min-width: 0) and (max-width: 767px) {
	#gNavi {
		display: none;
		width: 100%;
		height: 100vh;
		box-sizing: border-box;
		position: fixed;
		left: 0;
		top: 0;
		float: none;
		text-align: left;
		overflow: auto;
		z-index: 1100;
		background-color: #fff;
	}
	
	#gNavi .menuBox {
		padding-top: 40px;
		position: absolute;
		height: 80vh;
		overflow: auto;
		width: 75%;
		left: 50%;
		top: 50%;
		box-sizing: border-box;
		transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
	}
	
	#gNavi .navi {
		margin-bottom: 25px;
	}

	#gNavi .navi > li {
		margin: 0 0 5px;
		display: block;
		font-size: 24px;
	}
	
	#gNavi .navi > li:last-child {
		margin-bottom: 0;
	}
	
	#gNavi .navi > li:last-child ul a:hover {
		color: #000;
	}
	
	#gNavi .navi > li > a:before,
	#gNavi .navi > li > span:before {
		display: none;
	}
	
	#gNavi .navi > li a:before {
		display: none;
	}
	
	#gNavi .navi > li a:hover:before {
		-webkit-transform: none;
		transform: none;
	}
	
	#gNavi .navi li ul {
		margin: 0 0 0 30px;
		padding-left: 0;
	}
	
	#gNavi .navi li ul li {
		margin: 0;
		overflow: hidden;
		height: 0;
	}
	
	#gNavi .navi li ul li a {
		opacity: 1;
		-webkit-transition: none;
		transition: none;
	}
	
	#gNavi .navi li:hover ul li a {
		opacity: 1;
	}
	
	#gNavi .navi > li:last-child:hover {
		color: #000;
		background-color: #fff;
	}
	
	#gNavi .navi li:hover ul li {
	  overflow: hidden;
	  height: 0;
	}
	
	#gNavi .navi li:last-child:hover ul li:last-child {
		height: 0px;
	}
	
	#gNavi .navi .liStyle ul {
		display: block;
	}
	
	#gNavi .navi .liStyle ul li {
		height: 0;
	}

	#gNavi .navi li.active ul li {
		overflow: visible;
		height: 30px;
	}
	
	#gNavi .navi .career:hover ul li {
	  overflow: hidden;
	  height: 0;
	}
	
	#gNavi .navi .career.active ul li {
		overflow: visible;
		height: 30px;
	}
	
	#gNavi .navi > li.current > a:after,
	#gNavi .navi > li.current > span:after {
		display: none;
	}
	
	#gNavi .navi li:last-child:hover ul li {
 	  overflow: hidden;
	  height: 0;
	}
	
	#gNavi .navi li:last-child:hover ul li {
	  overflow: hidden;
	  height: 0;
	}
	
	#gNavi .navi li:last-child:hover ul li {
		overflow: hidden;
		height: 0;
	}
	
	#gNavi .navi li:last-child.active ul li {
		overflow: visible;
		height: 30px;
	}
	
	#gNavi .navi > li:last-child ul {
		margin: 0 0 0 30px;
		top: 100%;
		background-color: #fff;
	}
	
	#gNavi .navi > li:last-child ul a {
		display: inline-block;
	}

	#gNavi .spNavi li {
		opacity: 0;
	}
	
	#gNavi .spNavi li.on {
		opacity: 1;
		transform: translateY(0);
		-webkit-transform: translateY(0);
	}

	#gNavi .navi > li:last-child a,
	#gNavi .navi > li:last-child > span {
		padding: 0;
		min-width: inherit;
		border: none;
		text-align: left;
		transition: none;
	}

	#gNavi .navi > li:last-child > a:hover,
	#gNavi .navi > li:last-child > span:hover {
		color: #000;
		background-color: #fff;
	}
	
	#gNavi .spNavi li:first-child {
		font-size: 13px;
		margin-bottom: 6px;
	}
	
	#gNavi .spNavi li {
		font-size: 10px;
	}
	
	#gNavi .spNavi li a {
		margin-right: 15px;
		display: inline-block;
	}
	
	#gNavi .spNavi li a:last-child {
		margin-right: 0;
	}

	#gNavi .navi ul {
		margin: 16px 0 0 29px;
		width: auto;
		position: static;
	}
	
	#gNavi .navi ul li {
		margin-bottom: 19px;
	}
	
	#gNavi .navi ul li:last-child {
		margin-bottom: 0;
	}

	#gNavi .navi ul a {
		padding: 0;
	}
	
	#gNavi .navi ul li span {
		font-size: 10px;
		font-weight: normal;
		display: inline !important;
	}

	#gNavi .navi > li:last-child ul {
		width: auto;
		padding-bottom: 0;
		background-color: inherit;
	}

	#gNavi .navi > li:last-child ul a,
	#gNavi .navi > li:last-child ul span {
		color: inherit;
		padding: 0;
	}
	
	#gNavi .navi > li.on a::after {
		display: none;
	}
	
	.menu {
		position: fixed;
		left: 6px;
		top: 0;
		height: 50px;
		width: 50px;
		cursor: pointer;
		z-index: 1200;
		text-align: center;
		-webkit-transition: all .3s ease;
		transition: all .3s ease;
	}
	
	.menu.active .top {
		width: 25px;
		-webkit-transform: translateY(7px) translateX(0px) rotate(45deg);
		-ms-transform: translateY(7px) translateX(0px) rotate(45deg);
		transform: translateY(7px) translateX(0px) rotate(45deg);
	}
	
	.menu.active .middle {
		opacity: 0;
	}
	
	.menu.active .bottom {
		width: 25px;
		-webkit-transform: translateY(-8px) translateX(0px) rotate(-45deg);
		-ms-transform: translateY(-8px) translateX(0px) rotate(-45deg);
		transform: translateY(-8px) translateX(0px) rotate(-45deg);
	}
	
	.menu span {
		margin-left: -11px;
		background: #000;
		border: none;
		height: 2px;
		width: 23px;
		position: absolute;
		top: 18px;
		left: 50%;
		-webkit-transition: all .35s ease;
		transition: all .35s ease;
		cursor: pointer;
	}
	
	.menu span:nth-of-type(2) {
		top: 25px;
	}
	
	.menu span:nth-of-type(3) {
		top: 33px;
	}
}
/*------------------------------------------------------------
	パンクズリスト
------------------------------------------------------------*/
#pagePath {
	margin-bottom: 43px;
}

#pagePath li {
	margin-right: 1px;
	display: inline;
	color: #000;
	font-size: 12px;
}

#pagePath li a {
	margin-right: 5px;
}

#pagePath li a:hover {
	text-decoration: underline;
}

@media all and (min-width: 0) and (max-width: 767px) {
}
/*------------------------------------------------------------
	conts
------------------------------------------------------------*/
#conts {
	width: 760px;
	float: right;
}

@media all and (min-width: 0) and (max-width: 767px) {
	#conts {
		width: auto;
		float: none;
	}
}
/*------------------------------------------------------------
	sideBar
------------------------------------------------------------*/
#sideBar {
	margin-top: -20px;
	width: 240px !important;
	float: left;
	font-weight: bold;
	transform: translate(0,20px);
	-moz-transform: translate(0,20px);
	-webkit-transform: translate(0,20px);
}

#sideBar .sNavi {
	border-bottom: 1px solid #000;
}

#sideBar .sNavi {
	transform: none;
	-moz-transform: none;
	-webkit-transform: none;
}

#sideBar .sNavi.action {
	transform: none;
	-moz-transform: none;
	-webkit-transform: none;
}

#sideBar .sNavi > li {
	border-top: 1px solid #000;
}

#sideBar .sNavi > li.on {
	border-width: 3px;
}

#sideBar .sNavi > li > a {
	padding: 22px 0 21px;
	display: block;
	font-size: 18px;
	letter-spacing: 3px;
	background: url(/rc/img/common/icon02.png) no-repeat right center;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
}

#sideBar .sNavi > li.on > a{
	background-image: url(/rc/img/common/icon02_on.png);
}

#sideBar .sNavi > li:last-child > a {
	padding: 15px 0 18px;
	font-size: 17px;
	line-height: 1.6;
	background: none;
}

#sideBar .sNavi > li:last-child > a span {
	display: block;
	font-size: 12px;
}

#sideBar .sNavi > li > a:hover {
	background-color: #F4F4F4; 
}

#sideBar .sNavi ul {
	padding: 1px 0 11px;
	display: none;
}

#sideBar .sNavi ul li {
	margin-bottom: 13px;
}

#sideBar .sNavi ul a {
	position: relative;
	display: inline-block;
	letter-spacing: 0.6px;
}

#sideBar .sNavi ul a span {
	font-size: 11px;
}

#sideBar .sNavi ul a:hover:before {
	-webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
}

#sideBar .sNavi ul .on a:after {
	position: absolute;
    bottom: 2px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #000;
}

#sideBar .sNavi ul a:before {
    position: absolute;
    bottom: 2px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #000;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
    -webkit-transform-origin: right top;
    transform-origin: right top;
    -webkit-transition: -webkit-transform .4s cubic-bezier(1,0,0,1);
    transition: -webkit-transform .4s cubic-bezier(1,0,0,1);
    transition: transform .4s cubic-bezier(1,0,0,1);
    transition: transform .4s cubic-bezier(1,0,0,1),-webkit-transform .4s cubic-bezier(1,0,0,1);
}

@media all and (min-width: 0) and (max-width: 767px) {
	#sideBar {
		margin: -20px 0 36px;
		width: 100% !important;
		float: none;
	}
	
	#sideBar .sNavi02 {
		margin-bottom: 27px;
		width: 100%;
		font-size: 12px;
		line-height: 1.5;
		text-align: center;
	}
	
	#sideBar .sNavi02 li {
		margin: 0 -3px 10px;
		display: inline-block;
		box-sizing: border-box;
		border-right: 1px solid #CCCCCC;
	}
	
	#sideBar .sNavi02 li a {
		display: table;
		height: 100%;
	}
	
	#sideBar .sNavi02 li a > span {
		padding: 0 18px;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	
	#sideBar .sNavi02 li a span span {
		padding-left: 14px;
		display: inline;
		font-size: 10px;
	}
	
	#sideBar .sNavi02 li:last-child {
		border-right: none;
	}
	
	#sideBar .sNavi02 li.on a {
		color: #999999;
	}
	
	#sideBar .sNavi03 {
		margin-bottom: 20px;
	}

	#sideBar .sNavi03 li {
		margin-bottom: 10px;
	}
	
	#sideBar .sNavi03 li a > span {
		padding: 0 20px;
	}
	
	#sideBar .sNavi03 li:nth-child(3) {
		border-right: none;
	}

}

@media all and (min-width: 0) and (max-width: 359px) {
	#sideBar .sNavi04 li a span {
		padding: 0 16px !important;
	}
	
	#sideBar .sNavi05 li a span {
		padding: 0 9px !important;
	}
}

@media all and (min-width: 0) and (max-width: 350px) {
	#sideBar .sNavi03 li a span {
		padding: 0 15px;
	}
	
	#sideBar .sNavi04 li a span {
		padding: 0 10px !important;
	}
	
	#sideBar .sNavi05 li a span {
		padding: 0 5px !important;
	}
}
/*------------------------------------------------------------
	フッター
------------------------------------------------------------*/
#gFooter {
	margin-bottom: 25px;
	padding: 0 40px;
	text-align: center;
	position: relative;
}

#gFooter .fNavi {
	position: absolute;
	left: 40px;
	bottom: 0;
	width: 500px;
	font-size: 10px;
	text-align: left;
}

#gFooter .fNavi li {
	margin-right: 15px;
	padding-top: 5px;
	float: left;
	letter-spacing: 1px;
}

#gFooter .fNavi li a {
	display: inline-block;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
}

#gFooter .fNavi li a:hover {
	opacity:0.5;
}

#gFooter .fNavi li:first-child {
	margin-right: 45px;
	padding-top: 0;
	font-size: 14px;
	letter-spacing: 1px;
}

#gFooter .pageTop {
	text-align: center;
}

#gFooter .pageTop a {
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
}

#gFooter .pageTop a:hover {
	opacity: 0.5;
}

#gFooter .pageTop img {
	vertical-align: middle;
}

#gFooter .copyright {
	position: absolute;
	right: 40px;
	bottom: 0;
	font-size: 10px;
	letter-spacing: 1px;
}

@media all and (min-width: 0) and (max-width: 767px) {
	#gFooter {
		padding: 0 47px 19px;
		margin-bottom: 6px;
	}
	
	#gFooter .spNavi {
		width: 280px;
		margin: 0 auto 16px;
		font-size: 20px;
		line-height: 1.2;
		letter-spacing: 0.5px;
		text-align: left;
	}
	
	#gFooter .spNavi > li {
		margin-right: 55px;
		float: left;
	}
	
	#gFooter .spNavi > li:last-child {
		margin-right: 0;
	}
	
	#gFooter .spNavi > li >ul > li {
		margin-bottom: 15px;
		position: relative;
	}
	
	#gFooter .spNavi > li >ul > li ul {
		position: relative;
		top: 100%;
		left: 10px;
	}
	
	#gFooter .spNavi > li >ul > li ul li {
		overflow: hidden;
		height: 0;
		transition: .2s;
		-webkit-transition: .2s;
	}
	
	#gFooter .spNavi > li >ul > li ul li a {
		font-size: 10px;
	}
	
	#gFooter .spNavi > li >ul > li ul.en li a {
		font-size: 12px;
	}
	
	#gFooter .spNavi > li >ul > li.on ul li {
 		 overflow: visible;
 		 height: 30px;
	}
	
	#gFooter .fNavi {
		width: 280px;
		margin: 0 auto 36px;
		position: static;
		font-size: 10px;
		letter-spacing: 0.5px;
	}

	#gFooter .fNavi li {
		margin-right: 19px;
		padding-top: 3px;
	}
	
	#gFooter .fNavi li:last-child {
		margin-right: 0;
	}

	#gFooter .fNavi li:first-child {
		margin-right: 44px;
		font-size: 13px;
	}

	#gFooter .pageTop {
		margin-bottom: 4px;
	}
	
	#gFooter .pageTop img {
		vertical-align: top;
	}

	#gFooter .copyright {
		position: static;
		text-align: center;
		font-size: 10px;
		letter-spacing: 0.5px;
	}

}

@media all and (min-width: 0) and (max-width: 359px) {
	#gFooter .spNavi {
		width: auto;
	}
	
	#gFooter .fNavi {
		width: auto;
	}
	
	#gFooter .fNavi li {
		margin-right: 8px;
		letter-spacing: 0;
	}
	
	#gFooter .fNavi li:first-child {
		margin-right: 10px;
	}
}

/*------------------------------------------------------------
	書式設定
------------------------------------------------------------*/
/* テキストの位置 */
.taLeft { text-align: left !important; }
.taCenter { text-align: center !important; }
.taRight { text-align: right !important; }

/* フォントの大きさ（プラス） */
.fsP1 { font-size: 1.08em !important; }
.fsP2 { font-size: 1.16em !important; }
.fsP3 { font-size: 1.24em !important; }
.fsP4 { font-size: 1.32em !important; }
.fsP5 { font-size: 1.4em !important; }

/* フォントの大きさ（マイナス） */
.fsM1 { font-size: 0.92em !important; }
.fsM2 { font-size: 0.84em !important; }
.fsM3 { font-size: 0.76em !important; }
.fsM4 { font-size: 0.68em !important; }
.fsM5 { font-size: 0.6em !important; }

/* フォントの太さ */
.fwNormal { font-weight: normal !important; }
.fwBold { font-weight: bold !important; }

/*------------------------------------------------------------
	微調整用クラス（※多用しないこと）
------------------------------------------------------------*/
.mt0 { margin-top: 0 !important; }
.mb0 { margin-bottom: 0 !important; }

/*------------------------------------------------------------
	汎用スタイル
------------------------------------------------------------*/
	* html .clearfix {
		zoom: 1;
	}

	*+html .clearfix {
		zoom: 1;
	}

.clearfix:after {
	height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
}

/*------------------------------------------------------------
	comBox
------------------------------------------------------------*/
.comBox {
	margin: 0 auto;
	width: 1100px;
	box-sizing: border-box;
}

@media all and (min-width: 0) and (max-width: 767px) {
	.comBox {
		margin: 0 20px;
		width: auto;
	}
}

/*------------------------------------------------------------
	comBoxSmall
------------------------------------------------------------*/
.comBoxSmall {
	margin: 0 auto;
	width: 800px;
	box-sizing: border-box;
}

@media all and (min-width: 0) and (max-width: 767px) {
	.comBoxSmall {
		margin: 0 20px;
		width: auto;
	}
}
/*------------------------------------------------------------
	headLine01
------------------------------------------------------------*/
.headLine01 {
	margin-bottom: 76px;
	text-align: center;
}

@media all and (min-width: 0) and (max-width: 767px) {
	.headLine01 {
		margin-bottom: 19px;
	}
	
	.headLine01 {
		margin-bottom: 19px;
	}
}

/*------------------------------------------------------------
	headLine02
------------------------------------------------------------*/
.headLine02 {
	font-size: 26px;
}

@media all and (min-width: 0) and (max-width: 767px) {
	.headLine02 {
		font-size: 15px;
	}
}
/*------------------------------------------------------------
	headLine03
------------------------------------------------------------*/
.headLine03 {
	height: 520px;
	font-size: 42px;
	line-height: 1;
	font-weight: normal;
	letter-spacing: 2px;
	white-space: nowrap;
	font-family: 'Roboto Condensed', sans-serif;
	-webkit-writing-mode : tb-rl;
	-webkit-writing-mode: vertical-rl;
	writing-mode: tb-rl;
	writing-mode: vertical-rl;
}

.headLine03 span {
	margin-top: 22px;
	font-size: 14px;
	font-weight: bold;
}

.ios .headLine03 {
	font-family: "HelveticaNeue-CondensedBold",sans-serif;
}

@media all and (-ms-high-contrast:none){
	.headLine03 {
		letter-spacing: 0px;
	}
}

@media all and (min-width: 0) and (max-width: 767px) {
	.headLine03 {
		height: auto;
		font-size: 25px;
	}
	
	.headLine03 span {
		margin-top: 12px;
		font-size: 10px;
	}

}

/*------------------------------------------------------------
	headLine04
------------------------------------------------------------*/
.headLine04 {
	margin-bottom: 40px;
	text-align: center;
	font-size: 36px;
	line-height: 1;
	font-weight: normal;
	letter-spacing: 1.2px;
}

.headLine04 .small {
	margin-top: 18px;
	display: block;
	font-size: 14px;
}

@media all and (min-width: 0) and (max-width: 767px) {
	.headLine04 {
		margin-bottom: 23px;
		font-size: 21px;
	}

	.headLine04 .small {
		margin-top: 11px;
		font-size: 12px;
		font-weight: bold;
	}
}

/*------------------------------------------------------------
	headLine05
------------------------------------------------------------*/ 
	.headLine05 {
		margin-bottom: 10px;
		font-size: 16px;
	}

@media all and (min-width: 0) and (max-width: 767px) {
	.headLine05 {
		margin-bottom: 9px;
		font-size: 12px;
	}	
	
}

/*------------------------------------------------------------
	headLine06
------------------------------------------------------------*/ 
	.headLine06 {
		margin-bottom: 30px;
		font-size: 20px;
		letter-spacing: 1px;
	}
@media all and (min-width: 0) and (max-width: 767px) {
	.headLine06 {
		margin-bottom: 9px;
		font-size: 14px;
		letter-spacing: 0.5px;
	}
}

/*------------------------------------------------------------
	headLine07
------------------------------------------------------------*/
.headLine07 {
	margin-bottom: 10%;
	font-size: 60px;
	line-height: 1.06;
	font-weight: 300;
	white-space: nowrap;
	position: relative;
	-webkit-writing-mode : tb-rl;
	-webkit-writing-mode: vertical-rl;
	writing-mode: tb-rl;
	writing-mode: vertical-rl;
}

.headLine07 span {
	margin-left: 4px;
	display: block;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1px;
}

.ios .headLine07 {
	font-family: "HelveticaNeue-UltraLight",sans-serif !important;
	font-weight: normal;
	letter-spacing: -0.5px;
}

.ios .headLine07 span {
	letter-spacing: 1px;
	font-family: "HelveticaNeue-CondensedBold",sans-serif !important;
}

@media all and (-ms-high-contrast:none){
	.headLine07 span {
		letter-spacing: 0px;
	}
}

.headLine07 .bold {
	margin-left: 17px;
	font-size: 40px;
}

@media all and (-ms-high-contrast:none){
	.headLine07 {
		height: 460px;
	}
	
	.headLine07.ie01 {
		height: 255px;
	}
	
	.headLine07.ie02 {
		height: 340px;
	}
}

@media all and (min-width: 0) and (max-width: 767px) {
	.headLine07 {
		margin: 10px 0 90px;
		padding-bottom: 10%;
		font-size: 30px;
	}
	
	.headLine07 span {
		font-size: 10px;
	}
	
	.headLine07 .bold {
		margin-left: 0;
		font-size: 20px;
		display: block;
	}
	
	.headLine07 .txt01 {
		position: absolute;
		top: 106%;
		right: 2px;
	}
	
	.headLine07 .txt02 {
		position: absolute;
		top: 106%;
		right: 15px;
	}
	
	.headLine07.ie01 {
		margin-bottom: 80px;
	}
	
	.headLine07.ie02 {
		margin-bottom: 130px;
	}
}
/*------------------------------------------------------------
	comLink
------------------------------------------------------------*/
.comLink {
	padding: 9px;
	min-width: 201px;
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
	font-size: 15px;
	border: 1px solid #000;
	background-color: #fff;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
}

.comLink:hover {
	background-color: #000;
	color: #FFF;
}

@media all and (min-width: 0) and (max-width: 767px) {
	.comLink {
		padding: 6px;
		min-width: inherit;
		display: block;
		font-size: 12px;
		font-weight: bold;
	}
	
	.comLink:hover {
		background-color: #FFF;
		color: #000;
	}
}
/*------------------------------------------------------------
	.comSelect
------------------------------------------------------------*/
@media all and (min-width: 0) and (max-width: 767px) {
	.comSelect {
		margin: 0 auto 45px;
		min-width: 102px;
		padding: 0 0 2px 0;
		font-size: 12px;
		line-height: 1;
		border: 0;
		border-radius: 0;
		border-bottom: 1px solid #000;
		text-indent: -1px;
		background: #FFF url(/rc/img/common/icon01.png) no-repeat right center;
		appearance:none;
		-moz-appearance:none;
		-webkit-appearance:none; 
		-ms-appearance:none;

	}
	
	  .comSelect::-ms-expand { display: none; };
}
/*------------------------------------------------------------
	comTxt
------------------------------------------------------------*/
#main .comTxt {
	font-size: 15px;
	line-height: 2.4;
	font-weight: bold;
}
@media all and (min-width: 0) and (max-width: 767px) {
	#main .comTxt {
		font-size: 12px;
		line-height: 2.1;
		font-weight: normal;
		letter-spacing: 0;
	}
}

/*------------------------------------------------------------
	comAnchor
------------------------------------------------------------*/
.comAnchor {
	width: 250px;
}

.comAnchor li {
	margin-bottom: 7px;
}

.comAnchor li li:last-child {
	margin-bottom: 0;
}

.comAnchor li a {
	padding-left: 23px;
	letter-spacing: 1px;
	display: inline-block;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
	background: url(/rc/img/common/icon01.png) no-repeat left 10px;
}

.comAnchor li a:hover {
	opacity: 0.4;
	animation: arrow07 .5s;
}

@keyframes arrow07 {
  50% {
    background: url(/rc/img/common/icon01.png) no-repeat left 15px;
  }
  100% {
    background: url(/rc/img/common/icon01.png) no-repeat left 10px;
  }
}

@media all and (min-width: 0) and (max-width: 767px) {
	.comAnchor {
		width: 100px;
		font-size: 10px;
	}
	
	.comAnchor li {
		margin-bottom: 7px;
	}
	
	.comAnchor li a {
		padding-left: 12px;
		letter-spacing: 0px;
		background: url(/rc/img/common/icon01.png) no-repeat left center;
		background-size: 9px auto;
	}
	
	.comAnchor li a:hover {
		color: #000;
		animation: none;
	}
}

/*------------------------------------------------------------
	comTag
------------------------------------------------------------*/
.comTag {
	min-width: 101px;
	padding: 7px 5px 8px;
	display: inline-block;
	color: #fff;
	text-align: center;
	line-height: 1;
	font-size: 13px;
	box-sizing: border-box;
	background-color: #000;
}

@media all and (-ms-high-contrast:none){
	.comTag {
		padding: 8px 5px 4px;
	}
}

@media all and (min-width: 0) and (max-width: 767px) {
	.comTag {
		min-width: 65px;
		padding: 5px 5px 4px;
		font-size: 10px;
	}

}

/*------------------------------------------------------------
	comDl
------------------------------------------------------------*/
.comDl {
	padding-bottom: 15px;
}

.comDl dt {
	padding: 15px 22px 1px;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: bold;
	border-top: 1px dotted #B2B2B2;
}

.comDl dd {
	padding: 0 0 14px 22px;
	letter-spacing: 0.5px;
	line-height: 1.57;
}

.comDl02 dt {
	float: left;
	border-top: none;
}

.comDl02 dd {
	padding: 15px 0 14px 110px;
	border-top: 1px dotted #B2B2B2;
}

.comDl02 dd:last-child {
	padding-left: 22px;
}

@media all and (min-width: 0) and (max-width: 767px) {
	.comDl {
		padding-bottom: 0px;
	}

	.comDl dt {
		padding: 9px 14px 0px;
		font-size: 10px;
		letter-spacing: 1px;
		font-weight: bold;
		border-top: 1px dotted #B2B2B2;
	}

	.comDl dd {
		padding: 0 0 11px 14px;
		letter-spacing: 0px;
		font-size: 10px;
		line-height: 1.8;
	}

	.comDl02 dt {
		padding-top: 9px;
		border-top: none;
	}
	
	.comDl02 dd {
		padding: 9px 0 11px 60px;
	}
	
	.comDl02 dd:last-child {
		padding-left: 14px;
	
	}
}
/*------------------------------------------------------------
	comTxtDl
------------------------------------------------------------*/
.comTxtDl {
	background-color: #E5E5E5;
}

.comTxtDl dt {
	padding: 23px 30px 0;
	margin-bottom: 1px;
	font-weight: bold;
}

.comTxtDl dd {
	padding: 0 30px 23px;
	border-bottom: 1px solid #fff;
}


@media all and (min-width: 0) and (max-width: 767px) {
	.comTxtDl {
		font-size: 12px;
		line-height: 1.66;
		background-color: #E5E5E5;
	}

	.comTxtDl dt {
		padding: 10px 15px 0;
		margin-bottom: 0px;
		font-weight: bold;
	}
	
	.comTxtDl dd {
		padding: 0 15px 12px;
		letter-spacing: 0.5px;
	}
	
	.comTxtDl dd a {
		display: inline-block;
	}
	
}

/*------------------------------------------------------------
	pageNavi
------------------------------------------------------------*/
.wp-pagenavi {
	clear: both;
	text-align: center;
	line-height: 1.2;
}

.wp-pagenavi a,
.wp-pagenavi span {
	margin: 0 3px;
	padding: 11px 13px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	color: #666666;
	transition: all linear 0.3s;
	-webkit-transition: all linear 0.3s;
}

.wp-pagenavi a {
	text-decoration: underline;
}

.wp-pagenavi a:hover {
	color: #999999;
}

.wp-pagenavi span.current {
	margin: 0 8px;
	background-color: #F2F2F2;
}

.wp-pagenavi .first,
.wp-pagenavi .last,
.wp-pagenavi .pages {
	display: none;
}

.wp-pagenavi .previouspostslink {
	display: none;
}

.wp-pagenavi .nextpostslink {
	margin-left: 50px;
}

@media all and (min-width: 0) and (max-width: 767px) {
	
	.wp-pagenavi a,
	.wp-pagenavi span {
		padding: 10px 11px;
		margin: 0 6px;
		font-size: 11px;
		vertical-align: middle;
		transition: none;
	}
	
	.wp-pagenavi a {
		padding: 10px 5px;
	}
	
	.wp-pagenavi a:hover {
		color: #666666;
	}
	
	.wp-pagenavi span.current {
		margin: 3px;
	}
	
	.wp-pagenavi .nextpostslink {
		margin-left: 24px;
	}
}

/*------------------------------------------------------------
	comTxtLink
------------------------------------------------------------*/
.comTxtLink a {
	margin-bottom: 25px;
	position: relative;
	display: inline-block;
	padding-right: 146px;
	text-decoration: none !important;
}

.comTxtLink a:before, 
.comTxtLink a:after {
    position: absolute;
    top: -2px;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
}

.comTxtLink a:before {
    left: 140px;
    width: 138px;
    height: 1px;
    background: #000;
}

.comTxtLink a:after {
    left: 262px;
    width: 13px;
    height: 13px;
    border-top: 1px solid #000;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.comTxtLink a:hover:before{
	left: 140px;
	width: 158px;
	height: 1px;
	background: #000;
}

.comTxtLink a:hover:after{
	left: 282px;
	width: 13px;
	height: 13px;
	border-top: 1px solid #000;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

@media all and (min-width: 0) and (max-width: 767px) {
	.comTxtLink a {
		margin-bottom: 15px;
		padding-right: 76px;
	}
	
	.comTxtLink a:before, 
	.comTxtLink a:after {
		top: -2px;
		bottom: 0;
		left: 0;
	}

	.comTxtLink a:before {
		left: 115px;
		width: 70px;
	}

	.comTxtLink a:after {
		left: 175px;
		width: 8px;
		height: 8px;
	}

	.comTxtLink a:hover:before{
		left: 115px;
		width: 70px;
	}

	.comTxtLink a:hover:after{
			left: 175px;
			width: 8px;
			height: 8px;
	}
	
}

/*------------------------------------------------------------
	comNavi
------------------------------------------------------------*/
#conts .comNavi {
	margin-bottom: 80px;
	border-left: 1px solid #CCC;
}

#conts .comNavi li {
	float: left;
	width: 25%;
}

#conts .comNavi li a {
	margin-top: -1px;
	display: block;
	padding: 9px;
	font-size: 15px;
	text-align: center;
	border: 1px solid #CCC;
	border-left: none;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
}

#conts .comNavi li a:hover,
#conts .comNavi .on a {
	text-decoration: none;
	background-color: #F4F4F4;
}

@media all and (-ms-high-contrast:none){
	#conts .comNavi li a {
		padding: 9px 9px 5px;
	}
}

@media all and (min-width: 0) and (max-width: 767px) {
	#conts .comNavi {
		margin-bottom: 40px;
	}

	#conts .comNavi li {
		width: 33.33%;
	}
	
	#conts .comNavi li a {
		padding: 7px;
		font-size: 10px;
	}
	
	#conts .comNavi .on a:hover {
		background-color: #F4F4F4;
	}
	
	#conts .comNavi li a:hover {
		background-color: #fff;
	}
}

@media all and (min-width: 0) and (max-width: 359px) {
	#conts .comNavi li a {
		padding: 4px;
	}
}

/*------------------------------------------------------------
	comTable
------------------------------------------------------------*/
#conts .comTable {
	margin-bottom: 115px;
	width: 100%;
	border-collapse: collapse;
}

#conts .comTable th,
#conts .comTable td {
	padding: 35px 0;
	line-height: 1.9;
	text-align: left;
	vertical-align: top;
	border-top: 1px dotted #B2B2B2;
	border-bottom: 1px dotted #B2B2B2;
}

#conts .comTable th {
	width: 27%;
	font-size: 15px;
}

#conts .comTable td .txtDl dt {
	float: left;
	font-weight: bold;
}

#conts .comTable td .txtDl dd {
	padding: 0 0 15px 5.2em;
	letter-spacing: -0.5px;
}

#conts .comTable td .txtDl .ddStyle {
	padding-left: 9em;
}

#conts .comTable td .txtDl dd:last-child {
	padding-bottom: 0 !important;
}

#conts .comTable td .lineDl {
	margin-bottom: 12px;
}

#conts .comTable td .lineDl dd {
	margin-bottom: 13px;
	padding-bottom: 12px;
	border-bottom: 1px dotted #B2B2B2;
}

#conts .comTable td .lineDl dd:last-child {
	border-bottom: none;
}

#conts .comTable td .txtDl02 dd {
	padding-left: 9em;
}

#conts .comTable td .txtDl03 dt {
	margin-bottom: 3px;
	float: none;
}

#conts .comTable td .txtDl03 dd {
	padding-left: 0;
}

#conts .comTable td .txtDl04 dd {
	padding-bottom: 5px;
}

#conts .comTable td .txtDl05 dd {
	padding-left: 16em;
}

#conts .comTable td .notesList li {
	padding-left: 1em;
	text-indent: -1em;
}

#conts .comTable td .comTxtLink a {
	margin-top: 10px;
}

#conts .comTable td p {
	margin-bottom: 20px;
}

#conts .comTable td .txt01 {
	margin: 25px 0 0;
}

@media all and (min-width: 0) and (max-width: 767px) {
	#conts .comTable {
		margin-bottom: 35px;
	}
	
	#conts .comTable th,
	#conts .comTable td {
		padding: 15px 0;
		font-size: 12px;
		line-height: 1.5;
	}
	
	#conts .comTable th {
		width: 30%;
	}

	#conts .comTable th .small {
		display: block;
		font-size: 10px;
		font-weight: normal;
	}
	
	#conts .comTable td .txtDl dt {
		margin-bottom: 3px;
		float: none;
	}
	
	#conts .comTable td .txtDl dd {
		padding: 0 0 12px;
	}

	#conts .comTable td .txtDl dd .notes {
		display: block;
		padding-left: 1em;
		text-indent: -1em;
	}
	
	#conts .comTable td .txtDl .ddStyle {
		padding-left: 0;
	}
	
	#conts .comTable td .lineDl {
		margin-bottom: 5px;
	}
	
	#conts .comTable td .txtDl02 dd {
		padding-left: 0;
	}

	#conts .comTable td .txtDl04 dt {
		float: left;
	}
	
	#conts .comTable td .txtDl04 dd {
		padding: 0 0 7px 4em;
	}
	
	#conts .comTable td .txtDl05 dd {
		padding-left: 0;
	}
	
	#conts .comTable td .comTxtLink a {
		margin-top: 5px;
	}
	
	#conts .comTable td .comTxtLink02 a {
		margin-top: 10px;
	}
	
	#conts .comTable td p {
		margin-bottom: 15px;
	}
	
	#conts .comTable td .txt01 {
		margin: 15px 0 0;
	}
	
}

/*------------------------------------------------------------
	comBgBox
------------------------------------------------------------*/
#conts .comBgBox {
	padding: 20px 35px 35px;
	background-color: #F4F4F4;
}

@media all and (min-width: 0) and (max-width: 767px) {
	#conts .comBgBox {
		padding: 15px 20px;
	}
}


/*------------------------------------------------------------
	comPop
------------------------------------------------------------*/
.comPop {
	margin: 0 auto;
	padding: 100px 140px;
	/*min-height: 740px;*/
	width: 876px;
	box-sizing: border-box;
	background-color: #fff;
	display: none;
}

.comPop p {
	font-size: 15px;
	line-height: 1.8;
}

.comPop .ttl {
	margin-bottom: 37px;
	padding-bottom: 30px;
	font-size: 20px;
	font-weight: bold;
	border-bottom: 1px solid #000;
}

.comPop .ttl span {
	margin-left: 10px;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 1px;
}

.comPop dl {
	margin-top: 37px;
	font-size: 15px;
	line-height: 1.8;
}

.comPop dl dt {
	margin-top: 37px;
}

@media all and (min-width: 0) and (max-width: 767px) {
	.comPop {
		padding: 48px 50px;
		min-height: inherit;
		width: auto;
	}
	
	.comPop p {
		font-size: 12px;
		line-height: 1.75;
	}
	
	.comPop .ttl {
		margin-bottom: 15px;
		padding-bottom: 14px;
		font-size: 12px;
	}
	
	.comPop .ttl span {
		margin-left: 5px;
		font-size: 10px;
		letter-spacing: 1px;
	}
	
	.comPop dl {
		margin-top: 15px;
		font-size: 12px;
		line-height: 1.79;
	}
	
	.comPop dl dt {
		margin-top: 15px;
	}
}

/*------------------------------------------------------------
	comPopMap
------------------------------------------------------------*/
.comPopMap {
	margin: 0 auto;
	padding: 75px 70px 30px 81px;
	width: 1000px;
	box-sizing: border-box;
	background-color: #fff;
	display: none;
}

.comPopMap .ttl {
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: bold;
}

.comPopMap .link {
	margin-top: 8px;
	font-size: 12px;
	text-align: right;
}

.comPopMap .link a {
	letter-spacing: 1.5px;
	text-decoration: underline;
}

.comPopMap .link a:hover {
	text-decoration: none;
}

.comPopMap .mapBox .lBox {
	float: left;
	width: 480px;
}

.comPopMap .mapBox .lBox .map {
	width: 100%;
	height: 478px;
}

.comPopMap .mapBox .lBox .map iframe {
	width: 100%;
	height: 100%;
}

.comPopMap .mapBox .textBox {
	margin-top: -9px;
	float: right;
	width: 330px;
}

.comPopMap p {
	margin-bottom: 30px;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 1.86;
}


@media all and (min-width: 0) and (max-width: 767px) {
	.comPopMap {
		margin: 0;
		padding: 30px 30px 15px;
		width: auto;
	}
	
	.comPopMap .ttl {
		margin-bottom: 10px;
		font-size: 12px;
		text-align: center;
	}

	.comPopMap .link {
		margin: 8px 0 0;
		font-size: 10px;
	}

	.comPopMap .link a {
		letter-spacing: 1.5px;
	}
	
	.comPopMap .link a:hover {
		text-decoration: underline;
	}

	.comPopMap .mapBox .lBox {
		margin: 0 15px 15px;
		float: none;
		width: auto;
	}

	.comPopMap .mapBox .lBox .map {
		height: 240px;
	}

	.comPopMap .mapBox .textBox {
		margin-top: 0;
		float: none;
		width: 100%;
		min-width: 255px;
	}
	
	.comPopMap p {
		margin-bottom: 15px;
		font-size: 12px;
		letter-spacing: 0.5px;
		line-height: 1.5;
	}
	
}

@media all and (min-width: 0) and (max-width: 345px) {
	.comPopMap .mapBox .textBox {
		min-width: inherit;
	}
}
/*------------------------------------------------------------
	imgBoxR
------------------------------------------------------------*/
.imgBoxR .photoBox {
	float: right;
}

.imgBoxR .textBox {
	float: left;
}

@media all and (min-width: 0) and (max-width: 767px) {
	.imgBoxR .photoBox {
		float: none;
	}
	
	.imgBoxR .textBox {
		float: none;
	}
}


/*------------------------------------------------------------
	comDetail
------------------------------------------------------------*/
.comDetail .mainBox {
	margin-bottom: 102px;
}

.comDetail .mainImg {
	margin-right: 29px;
	float: left;
	overflow: hidden;
}

.comDetail .mainImg .comTag {
	position: absolute;
	right: 0;
	top: 0;
}

.comDetail .ttlBox {
	margin-top: 110px;
	width: 300px;
	float: left;
	text-align: center;
	transform: none;
	-moz-transform: none;
	-webkit-transform: none;

}

.comDetail .ttlBox p {
	margin-bottom: 15px !important;
	font-size: 14px;
}

.comDetail .ttlBox h2 {
	margin-bottom: 6px;
	font-size: 30px;
	letter-spacing: 2px;
	position: relative;
}

.comDetail .ttlBox h2:before {
	position: absolute;
	top: 28px;
	left: -47px;
	width: 0px;
	height: 1px;
	background-color: #000;
	content: '';
	animation: line04 1.2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite 0.4s;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
}

@media all and (-ms-high-contrast:none){
	.comDetail .ttlBox h2:before {
		animation: line04 1.2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite 1s;
		animation-iteration-count: 1;
		-webkit-animation-iteration-count: 1;
	}
}

@keyframes line04 {
  0% {
	  width: 0px;
  }
  100% {
	  width: 96px;
  }
}

.comDetail .ttlBox .logo {
	margin-bottom: 30px;
	display: block;
}

.comDetail .ttlBox .date {
	margin-top: 30px;
	font-size: 12px;
}

.comDetail .contBox {
	margin-bottom: 130px;
	padding-right: 52px;
}

.comDetail .guding {
	width: 155px;
	float: left;
}

.comDetail .textBox {
	width: 725px;
	float: right;
}

.comDetail .textBox p {
	margin-bottom: 88px;
	line-height: 1.85;
}

.comDetail .textBox .ttl {
	margin-bottom: 24px;
	font-size: 20px;
	font-weight: bold;
}

.comDetail .textBox .photo {
	margin-bottom: 87px;
}

@media all and (min-width: 0) and (max-width: 767px) {
	.comDetail {
		padding-top: 33px;
	}

	.comDetail .mainBox {
		margin-bottom: 49px;
	}

	.comDetail .mainImg {
		margin: 0 0 25px -20px;
		width: 105%;
		float: none;
	}
	
	.comDetail .mainImg img {
		width: 100%;
	}

	.comDetail .ttlBox {
		margin: 0 0 0 -15px;
		width: auto;
		float: none;
		text-align: center;
	}

	.comDetail .ttlBox p {
		margin-bottom: 2px !important;
		font-size: 10px;
	}
	
	.comDetail .ttlBox h2 {
		margin-bottom: 0px;
		font-size: 15px;
		letter-spacing: 1px;
	}
	
	.comDetail .ttlBox h2:before {
		top: -68px;
		left: 50%;
		width: 1px;
		height: 36px;
		animation: none;
	}	
	.comDetail .ttlBox .logo {
		margin: 0 5px 0 0;
		display: inline-block;
		line-height: 1.2;
	}
	
	.comDetail .ttlBox .logo img {
		height: 9px;
	}
	
	.comDetail .ttlBox .date {
		margin: 0 !important;
		font-size: 10px;
		display: inline-block;
		line-height: 1;
	}

	.comDetail .contBox {
		margin-bottom: 60px;
		padding-right: 0;
	}
	
	.comDetail .guding {
		width: 50px;
	}

	.comDetail .textBox {
		padding-left: 71px;
		width: auto;
		float: none;
	}

	.comDetail .textBox p {
		margin-bottom: 50px;
		line-height: 1.75;
		font-size: 12px;
	}

	.comDetail .textBox .ttl {
		margin-bottom: 8px;
		font-size: 14px;
	}

	.comDetail .textBox .photo {
		margin: 0 -20px 50px 0;
	}
	
	.comDetail .textBox .photo .subBox {
		width: 100%;
		float: right;
	}

	.comDetail .textBox .photo img {
		width: 100%;
	}

}

/*------------------------------------------------------------
	entry
------------------------------------------------------------*/
#entry {
	margin-bottom: 140px;
}

#entry .mainImg {
	margin-bottom: 110px;
	position: relative;
}

#entry .photo {
	width: 52.7%;
	min-width: 720px;
	height: 320px;
	overflow: hidden;
}

#entry .photo img {
	width: 100%;
	height: auto;
}

#entry h2 {
	width: 100%;
	position: absolute;
	top: 50.5%;
	left: 0;
	text-align: center;
}

#entry h2 img {
	width: 183px;
}

#entry h2 span {
	position: relative;
	display: inline-block;
}

#entry h2 span:before {
	position: absolute;
	top: 24px;
	left: 212px;
	width: 9000px;
	height: 1px;
	background-color: #000;
	content: '';
	animation: line01 5.2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
}

@keyframes line01 {
  0% {
	  width: 0px;
  }
  100% {
	  width: 9000px;
  }
}

#entry h3 {
	margin: -15px 0 22px;
	font-size: 24px;
}

#entry .comDl02 {
	margin-bottom: 60px;
	padding-bottom: 0;
	border-bottom: 1px dotted #B2B2B2;
}

#entry .comDl02 dt {
	padding: 6px 14px 0;
	font-size: 24px;
	font-weight: normal;
	font-family: 'Roboto Condensed', sans-serif;
}

.ios #entry .comDl02 dt {
	font-family: "HelveticaNeue-CondensedBold",sans-serif;
}

@media all and (-ms-high-contrast:none){
	#entry .comDl02 dt {
		letter-spacing: 0px;
	}
}

#entry .comDl02 dd {
	padding-left: 80px;
}

#entry .comDl02 dd {
	font-size: 18px;
	font-weight: bold;
}

#entry .comDl02 dd a {
	text-decoration: underline;
}

#entry .comDl02 dd a:hover {
	text-decoration: none;
}

#entry .comDl02 dd .txt {
	margin-top: 4px;
	display: block;
	font-weight: normal;
	font-size: 14px;
}

#entry .tagTxt {
	margin-top: 15px;
	font-size: 12px;
}

#entry .comTxtLink a:before, 
#entry .comTxtLink a:after {
    top: -1px;
}

#entry .comTxtLink a:before {
	left: auto;
	right: 0px;
}

#entry .comTxtLink03 a:before {
	left: auto;
	right: 0;
}

#entry .comTxtLink a:hover:before  {
	left: auto;
	right: -20px;
}

#entry .comTxtLink a:after {
	left: auto;
	right: 3px;
}

#entry .comTxtLink a:hover:after{
	left: auto;
	right: -17px;
}

#entry .comTxtLink03 a:after {
	left: auto;
	right: 3px;
}

#entry .comTxtLink03 a:hover:after{
	left: auto;
	right: -17px;
}

#entry .mapLink:hover {
	text-decoration: underline;
}


@media all and (min-width: 0) and (max-width: 767px) {
	#entry {
		margin: -8px 0 100px;
	}

	#entry .comBox {
		margin: 0;
	}

	#entry .mainImg {
		margin-bottom: 37px;
	}

	#entry .photo {
		width: 57.5%;
		min-width: 215px;
		height: 96px;
	}

	#entry h2 {
		top: 89%;
		left: 0;
	}
	
	#entry h2 span:before {
		top: 14px;
		left: 114px;
	}
	
	#entry h2 img {
		width: 100px;
	}
	
	#entry .comSelect {
		margin-bottom: 35px;
	}

	#entry .comDl02 {
		margin-bottom: 38px;
	}

	#entry .comDl02 dt {
		padding: 5px 19px 0;
		font-size: 16px;
	}

	#entry .comDl02 dd {
		padding: 8px 0 9px 59px;
		font-size: 12px;
	}
	
	#entry .comDl02 dd a:hover {
		text-decoration: underline;
	}

	#entry .comDl02 dd .txt {
		margin-top: 1px;
		font-size: 10px;
	}

	#entry .contsBox {
		margin: 0 20px;
	}
	
	#entry .tagTxt {
		margin-top: 12px;
		font-size: 10px;
	}
	
	#entry .comTxtLink a:before, 
	#entry .comTxtLink a:after {
		top: -0px;
	}
	
	#entry .comTxtLink a:before {
		left: auto;
	}

	#entry .comTxtLink03 a:before {
		left: auto;
	}

	#entry .comTxtLink a:after {
		right: 2px;
		left: auto;
	}

	#entry .comTxtLink a:hover:after {
		left: auto;
		right: 2px;
	}
	
	#entry .comTxtLink a:hover:before {
		left: auto;
		right: 0;
	}
	
	#entry .comTxtLink a:hover:before {
		left: auto;
		right: 0;
	}

	#entry .comTxtLink03 a:after {
		left: auto;
	}

	#entry .comTxtLink03 a:hover:after{
		left: auto;
		right: 3px;
	}
	
	#entry .mapLink:hover {
		text-decoration: none;
	}
}








